* {
    padding: 0;
    margin: 0;
}

body {
    background-color: whitesmoke;
    font-family: sans-serif;
    padding: 2rem;
}

main {
    display: flex;
}

.left {
    width: 50%;
    padding-inline: 2rem;
}

.left .h2 {
    font-size: 30px;
    color: brown;
    padding-block: 15px;
}

.left .booking {
    font-size: 20px;
    margin-bottom: 10px;
    color: gray;
}

.image {
    display: flex;
    gap: 1rem;
}

.image img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
}

.img-title {
    margin-bottom: 5px;
}

.pcos {
    border: 1px solid blue;
    background-color: transparent;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
}

.schedule {
    font-size: 20px;
    margin-block: 10px;
}

.time-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-date div {
    text-align: center;
    border: none;
    font-size: 1.3rem;
    width: 30%;
    padding-block: 2rem;
    border-radius: 15px;
    margin-bottom: 20px;
}

.time-date .date {
    background-color: rgb(255, 215, 222);
}

.time-date .time {
    background-color: #cde2f7;
}

.time-date .duration {
    background-color: rgb(207, 255, 207);
}

.right {
    width: 50%;
    padding-inline: 2rem;
    border-left: 1px solid black;
}

.pro-title {
    font-size: 25px;
    margin-block: 15px;
    color: gray;
}

.input-promo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.input-promo input {
    width: 100%;
    font-size: 20px;
    padding-inline: 20px;
    border-radius: 30px;
    border: 1px solid rgb(255, 115, 138);
}

::placeholder {
    color: gray;
    opacity: .7;
}

.input-promo button {
    padding: 15px 30px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 116, 139);
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

.payNow {
    padding: 20px 40px;
    font-size: 1.7rem;
    font-weight: bold;
    color: white;
    background-color: rgb(255, 62, 94);
    cursor: pointer;
    border: none;
    border-radius: 50px;
}

.amount-input {
    display: flex;
    margin-block: 20px;
    align-items: center;
    gap: 1rem;
}

.amount-input label {
    font-size: 20px;
}

.amount-input input {
    width: 50%;
    padding: 10px 20px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 20px;
}

.details {
    background-color: #C3C3F6;
    margin-inline: auto;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 20px;
}

.details .first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 10px;
    font-size: 20px;
}

.details .first :first-child {
    color: blue;
}

.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding-top: 10px;
}

.total :first-child {
    font-size: 25px;
}

.total :last-child {
    font-size: 35px;
    font-weight: bold;
}

.pay {
    margin-block: 2rem 10px;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#total span {
    font-size: 22px;
}

#green {
    color: green;
    margin-top: 10px;
}

#red {
    color: red;
    margin-top: 10px;
}

#total1 {
    font-size: 2.5rem;
    font-weight: bold;
}

@media only screen and (max-width: 1050px) {
    .time-date {
        flex-wrap: wrap;
    }

    .time-date div {
        width: 48%;
    }
}

@media only screen and (max-width: 900px) {
    .image img {
        width: 70px;
        height: 70px;
    }

    .image .right-image .img-title {
        font-size: 18px;
    }

    .image .right-image .pcos {
        font-size: 15px;
    }

    .input-promo button {
        font-size: 20px;
    }
}


@media only screen and (max-width: 800px) {
    body {
        padding: 0;
    }

    .left {
        text-align: center;
    }

    .time-date div {
        width: 100%;
    }

    .image {
        display: block;
    }

    .image img {
        width: 100%;
        height: 100px;
        margin-bottom: 10px;
    }

    .input-promo button {
        font-size: 15px;
    }

    .pay {
        display: block;
        text-align: center;
    }

    .pay .payNow {
        margin-top: 15px;
    }
}

@media only screen and (max-width: 800px) {
    .amount-input {
        display: block;
        text-align: left;
    }

    .amount-input input {
        margin-top: 10px;
        width: 70%;
    }
}