* {
    padding: 0;
    margin: 0;
}

body {
    padding: 10px;
    background-color: lightgray;
    font-family: sans-serif;
}

#para {
    margin-block: 10px;
}

.random {
    border: 2px solid black;
    padding: 10px;
    background-color: lightblue;
}

#generate {
    padding: 5px 20px;
    margin-top: 10px;
    cursor: pointer;
}

#parent {
    display: flex;
    justify-content: center;
    border: 3px solid black;
    margin-bottom: 10px;
    padding: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.titleColor {
    padding-block: 20px 10px;
}

.add {
    border: 3px solid black;
    padding: 10px;
    margin-block: 10px;
}

.add button {
    padding: 10px 30px;
    background-color: black;
    color: white;
    font-weight: bold;

}

.table {
    border-collapse: collapse;
}

tr,
th,
td {
    border: 3px solid red;
    padding: 5px 10px;
}

.forAdd,
#addCountry {
    padding: 7px;
    font-size: 17px;
}

#mySelect{
    margin-block: 10px;
    font-size: 1.2rem;
    padding: 5px;
}