* {
    padding: 0;
    margin: 0;
}

body {
    background-color: gray;
}

.images {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.images img {
    width: 33%;
    height: 300px;
    cursor: pointer;
}

.block {
    position: absolute;
    z-index: 15;
    font-size: 3rem;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 0;
    font-weight: bold;
    display: none;
    color: white;
}

.parent {
    text-align: center;
    padding: 20px;

}

.back-click {
    display: inline-flex;
    border-radius: 20px;
    position: relative;
    transition: .5s ease;
    overflow: hidden;
}

.clickBtn {
    padding: 50px 80px;
    background-color: black;
    font-size: 2rem;
    border-radius: 20px;
    color: white;
    display: inline-block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.background {
    width: 0%;
    height: 0%;
    background-color: rgba(255, 255, 255, 0.393);
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}


.notification {
    margin: 20px;
}

.notificationBtn {
    padding: 10px 20px;
    color: white;
    font-size: 1.5rem;
    background-color: dodgerblue;
    display: inline-block;
    cursor: pointer;
}

.showNoti {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 10px;
}

.showNoti div {
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: none;
}

.mainTable {
    padding: 1rem;
}

#tableDynamic {
    border-collapse: collapse;
    background-color: lightcoral;
    font-size: 1.4rem;
    width: 100%;
}

#tableDynamic>tr>th,
td {
    border: 2px solid white;
    padding: 10px 15px;
}


.parent-div {
    display: flex;
    background-color: black;
    padding: 10px;
    gap: 10px;
}

.parent-div div .drag {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: red;
    cursor: pointer;
}

.parent-div div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: white;
}