* {
    padding: 0;
    margin: 0;
}

body {
    background-color: lightgreen;
}

.images{
    width: 50%;
}

.images img {
    width: 100%;
    display: block;
    margin-inline: auto;
    border: 2px solid black;
    border-radius: 10px;
}

.filters{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.filters button{
    display: block;
    padding: 20px 40px;
    width: 200px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.3rem;
    margin-inline: auto;
    margin-block: 10px;
    cursor: pointer;
}

.first , .third{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    text-align: center;
}

.blur {
    filter: blur(4px);
}

.brightness {
    filter: brightness(150%);
}

.contrast {
    filter: contrast(180%);
}

.grayscale {
    filter: grayscale(100%);
}

.huerotate {
    filter: hue-rotate(180deg);
}

.invert {
    filter: invert(100%);
}

.opacity {
    filter: opacity(50%);
}

.saturate {
    filter: saturate(7);
}

.sepia {
    filter: sepia(100%);
}

.shadow {
    filter: drop-shadow(8px 8px 10px green);
}